<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <link href="styles/app.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Lato:300,400,700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/10e34b165f.js"></script>
    </head>
    <body>
        <main>
            <div id="api-content">
                <div class="api-info coordinates">
                    <h1>Latitude:<span id="latitude"></span>&deg</h1>
                    <h1>Longitude:<span id="longitude"></span>&deg</h1>
                </div>
                <div class="api-info altitude">
                    <h1>Altitude:<span id="altitude"></span> Km</h1>
                </div>
                <div class="api-info velocity">
                    <h1>Velocity:<span id="velocity"></span><span style="font-size: 12px;">Km/h</span></h1>
                </div>
                <button id="change-giphy">Change giphy!</button>
                <script src="scripts/app.js"></script>
            </div>
            <div id="info-text">
                <h1>Realtime ISS tracking</h1>
                <div id="iss-info-container">
                    <h3>What is ISS ?</h3>
                    <p>The International Space Station (ISS) is a space station, or a habitable artificial satellite, in low Earth orbit.
                        Its
                        first component was launched into orbit in 1998, with the first long-term residents arriving in November 2000. It
                        has
                        been inhabited continuously since that date.</p>
                </div>    
            </div>
        </main>
        <footer>
            <div class="social_icons_container">
                <a href="https://www.instagram.com/00ritikbhardwaj00"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/ritik.bhardwaj.129"><i class="fab fa-facebook"></i></a>
            </div>
            <p>Designed and developed by Ritik Bhardwaj</p>
            <p>All rights reserved | 2019</p>
        </footer>  
    </body>
</html>