<html>
<head>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<link href="styles/app.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Lato:300,400,700&display=swap" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/10e34b165f.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
		integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
		crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
		integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
		crossorigin=""></script>
</head>

<body>
	<main>
		<div id="api-content">
			<div id="menu">
				<ul>
					<li id="location">Location</li>
					<li id="speed">Speed</li>
					<li id="altitude">Altitude</li>
				</ul>
			</div>
			<div id="result"></div>
			
			<div id="mapid"></div>
			<h3 id="map-text">Live location of ISS on a map</h3>
		</div>
		</div>
		<div id="info-text">
			<h1>Realtime ISS tracking</h1>
			<div id="iss-info-container">
				<h3>What is ISS ?</h3>
				<p>
					The International Space Station (ISS) is a space station, or a
					habitable artificial satellite, in low Earth orbit. Its first
					component was launched into orbit in 1998, with the first long-term
					residents arriving in November 2000. It has been inhabited
					continuously since that date.
				</p>
			</div>
			<button id="change-giphy">Change giphy!</button>
		</div>
	</main>
	<footer>
		<div class="social_icons_container">
			<a href="https://www.instagram.com/00ritikbhardwaj00"><i class="fab fa-instagram"></i></a>
			<a href="https://www.facebook.com/ritik.bhardwaj.129"><i class="fab fa-facebook"></i></a>
		</div>
		<p>Designed and developed by Ritik Bhardwaj</p>
		<p>All rights reserved | 2019</p>
	</footer>
	<script src="scripts/app.js"></script>
</body>

</html>